modules = ["java-graalvm22.3"]
run = "javac -d bin src/edu/cs340/*.java src/edu/cs340/interpreter/*.java src/edu/cs340/lexer/*.java src/edu/cs340/parser/*.java & java -cp bin edu.cs340.Main"

[nix]
channel = "stable-24_05"

[deployment]
run = [
  "sh",
  "-c",
  "javac -d bin src/edu/cs340/*.java src/edu/cs340/interpreter/*.java src/edu/cs340/lexer/*.java src/edu/cs340/parser/*.java & java -cp bin edu.cs340.Main",
]
